{% sw_extends '@Storefront/storefront/component/product/description.html.twig' %}

{% block component_product_description_container %}
    {{ parent() }}
    <div class="pt1">
        {% if product.manufacturer.translated.customFields.name is defined %}
            {% block beesgprs_block %}
            <h4>Herstellerangaben:</h4>
            <p><b>{{ page.product.manufacturer.translated.customFields.name }}</b><p>
                <p>{{ page.product.manufacturer.translated.customFields.street }}
                <br> {{ page.product.manufacturer.translated.customFields.postalCode }}
                {{ page.product.manufacturer.translated.customFields.city }}
                 <br>{{ page.product.manufacturer.translated.customFields.land }}
                <br>{{ page.product.manufacturer.translated.customFields.email_address }}
                <br>{{ page.product.manufacturer.translated.customFields.phone_number }}
            </p>
            {% endblock %}
        {% endif %}
    </div>
{% endblock %}
